<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/styles.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/fontawesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap" 
    rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/new-logo.svg" type="image/svg+xml">

    <title>SPEAKit</title>
    <meta name="title" content="Speakit">

  </head>
  <body>

  <!-- HEADER -->
    <header>
      <div class="container flex-row ">
        <div class="header_logo">
          <img src="/static/img/SPEAKIT_LOGO.svg"  alt=" logo"/>
        </div>
        <nav>
          <ul class="header_menu flex-row">
              <li>
                <a href="#hero"> Home</a>
              </li>
              <li>
                <a href="#feature">Feature</a>
              </li>
              <li>
                <a href="#about"> About us</a>
              </li>
              <li>
                <a href="#team"> Team</a>
              </li>
              <li>
                <a href="#contact"> Contact</a>
              </li>
          </ul>
        </nav>
        <div class="right flex-center">
          <a href="#contact" class="btn btn-secondary">Watch <i class="fa-regular fa-circle-play "></i></a>
          <div class="menu-btn">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </div>
    </header>

    <!-- HERO -->
    <section id="hero" class="container flex-row">
      <div class="hero_content">
        <h1 class="title"> Communication for <span class="color" style="color: #037ef3;">Deaf</span></h1>
        <p class="text">A communication tool to breakthrough the langauge barrier for Deaf</p>
        <a href="/get-started" class="btn btn-primary">Explore Now <i class="fa fa-angle-right"></i></a>
      </div>
      <div class="hero_img">
        <img src="/static/img/Group 15.png" alt="">
      </div>
    </section>

    <!-- ABOUT -->
    <section id="about" class="container flex-center flex-column">
      <footer class="footer-area">
        <div class="sign_shape shape-1">
            <img src="/static/img/sign1.png" alt="Shape 1 Image">
        </div>
        <div class="sign_shape shape-2">
            <img src="/static/img/sign2.webp" alt="Shape 2 Image">
        </div>
        <div class="sign_shape shape-3">
            <img src="/static/img/sign3.webp" alt="Shape 3 Image">
        </div>
        <div class="sign_shape shape-4">
            <img src="/static/img/sign 4.png" alt="Shape 4 Image">
        </div>
        <div class="sign_shape shape-5">
          <img src="/static/img/sign5.png" alt="Shape 4 Image">
        </div>
        <div class="sign_shape shape-6">
          <img src="/static/img/sign6.png" alt="Shape 4 Image">
        </div>

        <div class="about_details" flex-center>
          <div class="about_details-content text-center">
            <h1>About SPEAKIT</h1>
            <p class="text-center">
              <span class="color" style="color: #037ef3;"> SPEAKit</span>, a sign language translator designed specifically for the deaf community, is to break down communication barriers and empower individuals with hearing and speech impairments. By leveraging advanced sign language recognition technology
            </p>
            <a href="#" class="btn btn-primary"> Get Started</a>
          </div>
        </div>
      </footer>
    </section>

    <!-- PROJECTS -->
    <section id="feature"
    style="
      background: url(/static/img/projects-bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      background-attachment:fixed ;
    ">
      <div class="container">
        <h5 class="section-subheading text-center">What's New</h5>
        <h2 class="section-heading text-center right left">Check out some of our Features</h2>
        <div class="projects">
          <div class="project">
            <div class="project_img">
              <img src="/static/img/texting.svg" alt=""/>
            </div>
            <div class="project_content">
              <h3 class="project_category"> SPEAKiT</h3>
              <h3 class="project_title">Sign to Text</h3>
              <p class="project_text">text-to-sign functionality can access by the deaf user as it can write a text  has a capability to write a text or word to convert into Sign language gesture.</p>
              <a href="" class="btn btn-secondary">View Details</a>
            </div>
          </div>
          <div class="project">
            <div class="project_img">
              <img src="/static/img/communicate.svg" alt=""/>
            </div>
            <div class="project_content">
              <h3 class="project_category"> SPEAKiT</h3>
              <h3 class="project_title ">Text to Sign</h3>
              <p class="project_text">Text-to-sign functionality can access by the deaf user as it can write a text  has a capability to write a text or word to convert into Sign language gesture.</p>
              <a href="" class="btn btn-secondary">View Details</a>
            </div>
          </div>
          <div class="project">
            <div class="project_img">
              <img src="/static/img/exchanging messages.svg" alt=""/>
            </div>
            <div class="project_content">
              <h3 class="project_category"> SPEAKiT</h3>
              <h3 class="project_title">Speech to Text</h3>
              <p class="project_text">Text-to-speech feature of SPEAKit  whereas the deaf user can perform the text feature and convert  it into speech output. </p>
              <a href="" class="btn btn-secondary">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- TEAM -->
    <section class="section project" aria-labelledby="project-label" id="team">
      <footer class="team-area">
        <div class="sign_shape shape-1">
            <img src="/static/img/sign1.png" alt="Shape 1 Image">
        </div>
        <div class="sign_shape shape-2">
            <img src="/static/img/sign2.webp" alt="Shape 2 Image">
        </div>
        <div class="sign_shape shape-3">
            <img src="/static/img/sign3.webp" alt="Shape 3 Image">
        </div>
        <div class="sign_shape shape-4">
            <img src="/static/img/sign 4.png" alt="Shape 4 Image">
        </div>
        <div class="sign_shape shape-5">
          <img src="/static/img/sign5.png" alt="Shape 4 Image">
        </div>
        <div class="sign_shape shape-6">
          <img src="/static/img/sign6.png" alt="Shape 4 Image">
        </div>

        <div class="container">
          <p class="section-subtitle" id="project-label"></p>
          <div class="about-content">
            <h2 class="h2 section-title">Team KoDous</h2>

            <div class="card_container">
              <div class="card">
                  <div class="content">
                      <div class="imgBx">
                          <img src="/static/img/Avatar1.png" alt="">
                      </div>
                      <div class="contentBx">
                          <h4>Wendell Atieza</h4>
                          <h5>Frond-End Developer</h5>
                      </div>
                      <div class="sci">
                          <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                          <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                          <a href="#"><i class="fab fa-telegram" aria-hidden="true"></i></a>
                      </div>
                  </div>
              </div>
              <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="/static/img/Avatar2.png" alt="">
                    </div>
                    <div class="contentBx">
                        <h4>Ruszel  Saavedra</h4>
                        <h5>Back-End Developer</h5>
                    </div>
                    <div class="sci">
                        <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fab fa-telegram" aria-hidden="true"></i></a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>

    <!-- CONTACT -->
    <section id="contact"
    style="
    background:url(/static/img/contact-bg.png);
    background-repeat: none;
    background-position: right ;
    background-size: contain;
    ">
      <div class="container">
        <h5 class="section-subheading text-center">Contact Us</h5>
        <h2 class="section-heading text-center left right"> Stay connected with us for any reason</h2>
        <div class="contact">
          <form action="" class="contact_form">
            <h1>Write us a message</h1>
            <input type="text" placeholder=" Name" required>
            <input type="email" placeholder="Email" required>
            <input type="text" placeholder="Subject" required>
            <textarea  rows="5" placeholder="Message"></textarea>
            <button class="btn btn-primary">Send Message</button>
          </form>
          <div class="contact_details">
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minima commodi a quae unde corporis temporibus in quod molestiae rem. Doloremque similique sunt ducimus cum reprehenderit aspernatur inventore soluta molestiae!</p>
            <div class="details">
              <div class="detail">
                <div class="detail_icon">
                  <i class=" fas fa-phone"></i>
                </div>
                <div class="detail_content">
                  <h3>Phone</h3>
                  <p>09103230836</p>
                </div>
              </div>
              <div class="detail">
                <div class="detail_icon">
                    <i class=" fas fa-envelope"></i>
                </div>
                <div class="detail_content">
                  <h3>Email</h3>
                  <p>koduos@gmail.com</p>
                </div>
              </div>
              <div class="detail">
                <div class="detail_icon">
                  <i class=" fas fa-map-marked-alt"></i>
                </div>
                <div class="detail_content">
                  <h3>Address</h3>
                  <p>Unisan</p>
                </div>
              </div>
            </div>
          </div>
        </div>   
      </div>
    </section>

    <!-- CONTACT -->

    <!--CTA-->
    <section class="cta" aria-label="call to action">
          <h2 class="h2 section-subheading text-center left right">Future of Deaf Empowered by SPEAKIT</h2>
          <a href="#" class="btn btn-primary"> Get Started</a>
    </section>

    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="wrapper">
          <div class="footer-widget">
            <a href="index.html">
              <img src="/static/img/SPEAKIT_LOGO.svg" class="logo" />
            </a>
            <p class="desc">
              <b><span class="color" style="color:#037ef3;">SPEAKit</span> </b> the tool that translates sign language in different forms to break through the language barrier for the deaf.
            </p>
            <ul class="socials">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-widget">
            <h6>Devices</h6>
            <ul class="links">
              <li><a href="#">Android Phone</a></li>
              <li><a href="#"> Desktop Computer</a></li>
            </ul>
          </div>
          <div class="footer-widget">
            <h6>Why CoMute</h6>
            <ul class="links">
              <li><a href="#"> As Communication Tool</a></li>
              <li><a href="#"> As Translator</a></li>
              <li><a href="#"> For Education</a></li>
            </ul>
          </div>
          <div class="footer-widget">
            <h6> Support</h6>
            <ul class="links">
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">terms &amp; conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="copyright-wrapper">
          <p>Design and Developed by  KoDous</p>
        </div>
      </div>
    </footer>

    <!-- FONTAWESOME -->
    <script src="/static/js/fontawesome.min.js"></script>
    <!-- FONTAWESOME -->

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- AOS -->

    <!-- SCRIPTS -->
    <script src="/static/js/script.js"></script>
    <script></script>
    <!-- SCRIPTS -->

    <script>
      AOS.init();
    </script>
  </body>
</html>
